*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
keystore.properties
*.keystore
*.jks

# Android SDK (should not be in repo)
/build-tools/
/platform-tools/
/platforms/
/licenses/
/emulator/
/sources/
/system-images/
/tools/
/cmdline-tools/
